* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --body-bg-color: antiquewhite;
    --sub-section-bg-color: beige;
    --item-bg-color: grey;

    --press-item-bg-color: aqua;

    --hover-item-bg-color: blue;
    --hover-item-txt-color: white;
}

body {
    background-color: var(--body-bg-color);

    padding: 20px;
}

.title {
    text-align: center;

    margin: 20px 0 10px;
}

.items-container {
    flex-wrap: wrap;
    align-content: center;
    gap: 20px;

    max-width: 700px;
    min-height: 300px;
    padding: 20px;

    background-color: var(--sub-section-bg-color);
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 12em;
    height: 15em;

    background-color: var(--item-bg-color);

    cursor: pointer;
    border: none;
}

.item img {
    max-width: 100px;
    max-height: 100px;
}

.item:hover {
    background-color: var(--hover-item-bg-color);
    color: var(--hover-item-txt-color);
}

.item:active {
    background-color: var(--press-item-bg-color);
}

.round-status-container {
    flex-direction: column;
    max-width: 700px;
    min-height: 200px;

    background-color: var(--sub-section-bg-color);
}

.round-status-container,
.items-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 20px auto;
}